{% load i18n %}

<thead>
<tr>
    <th></th>
    {% for day in days %}
    <th class="day{% if day == date %} selected{% endif %}">
        {% if day == day.today %}{% trans "Today" %} <i class="fas fa-calendar-check"></i>{% endif %}<br />
        <a href="{% url 'exercise:index' id=exercise.pk date=day|date:'Y-m-d' %}" class="exercise exercise_{{ exercise.pk }}">
            <span class="date">{{ day|date:"d F" }}</span><br />
            <span class="weekday">{{ day|date:"l" }}</span>
        </a>
    </th>
    {% endfor %}
</tr>
</thead>
