{% load i18n %}
{% load crispy_forms_tags %}

<form action="{% if form.instance.pk %}{% url 'set:edit' id=form.instance.pk %}{% else %}.{% endif %}" method="post" class="sets">
    {% csrf_token %}
    {{ form|crispy }}
    <div>
        <button type="submit" class="btn btn-success">
            {% if form.instance.pk %}
                <i class="far fa-save"></i> {% trans "Save" %}
            {% else %}
                {% if todo %}<i class="fas fa-calendar-plus"></i> {% trans "TODO" %}{% else %}<i class="far fa-save"></i> {% trans "Add" %}{% endif %}
            {% endif %}
        </button>
    </div>
</form>
