
h1.exercise {
    background-position: left;
    background-repeat: no-repeat;
}

h1.exercise_12__::before {
    content: url(../squats.png);
    display: inline-block;
    width: 100px;
    height: 100px;
}
a.exercise_12__::after {
    content: url(../squats.png);
    width: 24px;
    height: 24px;
}


h1.exercise_13__::before {
    content: url(../push-up.png);
    display: inline-block;
    width: 100px;
    height: 100px;
}
a.exercise_13__::after {
    content: url(../push-up.png);
    width: 24px;
    height: 24px;
}


h1.exercise_18__::before {
    content: url(../roll.png);
    display: inline-block;
    width: 100px;
    height: 100px;
}
a.exercise_18__::after {
    content: url(../roll.png);
    width: 24px;
    height: 24px;
}


h1.exercise_16__::before {
    content: url(../rotation.png);
    display: inline-block;
    width: 100px;
    height: 100px;
}
a.exercise_16__::after {
    content: url(../rotation.png);
    width: 24px;
    height: 24px;
}


h1.exercise_17__::before {
    content: url(../stretching.png);
    display: inline-block;
    width: 100px;
    height: 100px;
}
a.exercise_17__::after {
    content: url(../stretching.png);
    width: 24px;
    height: 24px;
}


h1.exercise_19__::before {
    content: url(../mqdefault.jpg);
    display: inline-block;
    width: 100px;
    height: 100px;
}
a.exercise_19__::after {
    content: url(../mqdefault.jpg);
    width: 24px;
    height: 24px;
}


h1.exercise_14__::before {
    content: url(../leg-swings.png);
    display: inline-block;
    width: 100px;
    height: 100px;
}
a.exercise_14__::after {
    content: url(../leg-swings.png);
    width: 24px;
    height: 24px;
}

