

table.sets {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

table.sets th, table.sets td {
    border: 1px solid gray;
}

table.sets tbody {
    height: 100%;
}




table.total { width: 100%; }
table.total td {
    border: 0px;
}
td.reps {
    text-align: center;
    width: 100%;
}

table.total {
    font-weight: bold;
    font-size: 30px;
}






.sum {
    font-weight: bold;
}
div.sum {
    border-top: 2px solid black;
}
table.weekday td.today .sum {
    color: green;
}

a.exercise {
    font-weight: bold;
}


table.day td.sum {
    color: green;
    font-size: 36px;
    font-weight: bold;
}

.empty {
    color: red;
    text-align: center;
}

