form {
    text-align: center;
}

form.sets {
    align-items: center;
}

form.sets input[name="reps"] {
    font-size: 100px;
    width: 250px;
    height: 100px;
    display: inline-block;
    text-align:center;
}
form.sets input[name="description"] {
    font-size: 50px;
    width: 700px;
    height: 50px;
    display: inline-block;
    text-align:center;
}
form.sets input[name="kg"] {
    font-size: 80px;
    width: 150px;
    height: 80px;
    display: inline-block;
    text-align:center;
}
form.sets input[name="km"] {
    font-size: 80px;
    width: 150px;
    height: 80px;
    display: inline-block;
    text-align:center;
}

form.sets input[name="seconds"] {
    font-size: 80px;
    width: 150px;
    height: 80px;
    display: inline-block;
    text-align:center;
}

form.sets input[type="submit"] {
    font-size: 35px;
    width: 250px;
    height: 50px;
    text-align:center;
}

