a[href^="http://"], a[href^="https://"] {
    background: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png)     center right no-repeat;
    padding-right: 13px;
}
a[href*="youtube"] {
    background: url(../images/youtube.png)     center right no-repeat;
    background-size: 16px 16px;
    padding-right: 20px;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

h1 {
    margin-top: 10px;
    text-align:center;
    font-size: 96px; /* poor eyesight :( */
    margin: 0px;
    padding:0px;
}
h1 a {
    color: black;
}
.exercise {
    font-weight: bold;
}
.center {
    text-align:center;
}
.left {
    text-align:left;
}
.right {
    text-align:right;
}


.sum {
    font-weight: bold;
}

tbody tr:hover {
  background-color: #ffff99;
}

#menu {
    position: absolute;
    left: 5px;
    top: 5px;
}
div.description {
    text-align: center;
}
div.url {
    font-size: 24px;
    padding: 10 0 10 0px;
    text-align: center;
}
