#options_button {
    position: absolute;
    right: 5px;
    top: 5px;
}
#options_panel {
    position: absolute;
    right: 5px;
    top: 5px;
}
table.options {
    border: 1px black solid;
}
table.options td {
    border: 0px;
    text-align:center;
    vertical-align: middle;
}

