{% load i18n %}



logout <i class="fas fa-power-off"></i>
<div id="menu">
<ul>
    <li>
        <a href="/profile/">
            <i class="fas fa-user-cog"></i> {% trans "Profile" %}
        </a>
    </li>
    <li>
        <i class="far fa-flag"></i> {% trans "Exercises" %}
    <li>
        <a href="/articles/">
            <i class="fas fa-edit"></i> {% trans "Articles" %}
        </a>
    </li>
    <li>
        <a href="/notes/">
            <i class="far fa-sticky-note"></i> {% trans "Notes" %}
        </a>
    </li>
    <li>
        <i class="fas fa-chart-bar"></i>{% trans "Замеры" %}
    </li>
    <li>
        <a href="/news/">
            <i class="far fa-newspaper"></i> {% trans "News" %}
        </a>
    </li>
    <li>
        <i class="fas fa-users"></i> {% trans "Users" %}
    </li>
    </li>
            <i class="fas fa-blog"></i> {% trans "Blogs" %}

    </li>
    <li>
        <a href="{% url '/contacts' %}">
            <i class="fas fa-info-circle"></i> {% trans "Contacts" %}
        </a>
    </li>
</ul>
</div>
